@import url(./global.css);
@import url(./main.css);

.containOne {
  display: flex;
  flex-direction: column;
  width: 430px;
  padding: 40px 20px;
  gap: 25px;
  font-family:'Open Sans', Arial, Helvetica, sans-serif;
  color: var(--color-gray);
}
.containOne img {
  height: 100%;
}
.containOne h3 { 
  font-weight: 800;
  font-size: 25px;
  line-height: 32px;
}
.containOne p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}