@import url(./global.css);
@import url(./main.css);

.containTwo {
  display: flex;
  flex-direction: column;
  margin: 40px 20px;
  width: 380px;
  font-family:'Open Sans', Arial, Helvetica, sans-serif;
  background-color: var(--color-whitelow);
  gap: 25px;
}
.containTwo img {
  height: 100%;
}
.containTwo h3 {  
  font-weight: 800;
  font-size: 25px;
  line-height: 32px;
}
.containTwo p {
  height: 100px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}